body{
   
}
.form{
    align-content: center;
    margin:auto;
    width:50%;
}
.header{
    background-color: aqua;
    min-height: 100px;
}
main{
    background-color:beige;
    width: 100%;
}
footer{
    background-color: white;
    width: 100%;
    min-height:100px;
}
.wrapper {
    width: 50%;
    margin: 0 auto;
    background: #e7e7e7;
  }
.content {
    width: 60%;
    float: left;
}
textarea {
    width: 250px;
    height: 10em;
    }