body{
}
.form{
    align-content: left;
    margin:auto;
    width:50%;
}
.header{
    background-color: aqua;
    min-height: 100px;
}
main{
    background-color:beige;
    width: 100%;
}
footer{
    background-color: white;
    width: 100%;
    min-height:100px;
}
#wrapper{
    float: none;
}
.content{
    width: 60%;
    align-content:center;
    background-color: aqua ;
    vertical-align: text-top;
}
textarea {
    width: 250px;
    height: 10em;
}
img{
    flex-wrap: wrap;
    width:5em;
    height: 5em;
}